@charset "utf-8";
$primary-color: #9328d4;
$info-color: #60b6c5;
$warning-color: #f79f5f;
$success-color: #20ad00;
$danger-color: #ff5b5b;

$bg-shallow: #fff7f2;

$color-base: #333;
$color-first: #666;
$color-second: #999;

$animationDuration: 1s;
